<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.check24.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Plain Text View -->

        <activity
            android:name=".features.text.ComposableTextActivity"
            android:exported="false" />

        <activity
            android:name=".features.text.AndroidUITextActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <!-- Plain Password -->

        <activity
            android:name=".features.password.AndroidUIPasswordActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.password.ComposablePasswordActivity"
            android:exported="false" />

        <!-- Password with visibility toggle -->

        <activity
            android:name=".features.password.visibility.AndroidUIPasswordVisibilityToggleActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.password.visibility.ComposablePasswordVisibilityToggleActivity"
            android:exported="false" />

        <!-- CheckBox -->

        <activity
            android:name=".features.button.AndroidUICheckBoxActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.button.ComposableCheckBoxActivity"
            android:exported="false" />

    </application>

</manifest>