<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.check24.compose.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo">

        <activity
            android:name="de.check24.compose.demo.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Plain Text View -->

        <activity
            android:name="de.check24.compose.demo.features.text.ComposableTextActivity"
            android:exported="false" />

        <activity
            android:name="de.check24.compose.demo.features.text.AndroidUITextActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <!-- Plain Password -->

        <activity
            android:name="de.check24.compose.demo.features.password.AndroidUIPasswordActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.password.ComposablePasswordActivity"
            android:exported="false" />

        <!-- Password with visibility toggle -->

        <activity
            android:name="de.check24.compose.demo.features.password.visibility.AndroidUIPasswordVisibilityToggleActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.password.visibility.ComposablePasswordVisibilityToggleActivity"
            android:exported="false" />

        <!-- Password numeric -->

        <activity
            android:name="de.check24.compose.demo.features.password.numeric.AndroidUINumericPasswordActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.password.numeric.ComposableNumericPasswordActivity"
            android:exported="false" />

        <!-- Phone Number -->

        <activity
            android:name="de.check24.compose.demo.features.phone.AndroidUIPhoneTextActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.phone.ComposablePhoneTextActivity"
            android:exported="false" />

        <!-- Email-->

        <activity
            android:name="de.check24.compose.demo.features.email.AndroidUIEmailActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.email.ComposableEmailActivity"
            android:exported="false" />

        <!-- Barrier -->

        <activity
            android:name="de.check24.compose.demo.features.constraintlayout.barrier.AndroidUIBarrierActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.constraintlayout.barrier.ComposableBarrierActivity"
            android:exported="false" />

        <!-- CheckBox -->

        <activity
            android:name="de.check24.compose.demo.features.button.AndroidUICheckBoxActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.button.ComposableCheckBoxActivity"
            android:exported="false" />

        <!-- GuidelineVertical -->

        <activity
            android:name="de.check24.compose.demo.features.constraintlayout.guideline.AndroidUIVerticalGuidelineActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.constraintlayout.guideline.ComposableVerticalGuidelineActivity"
            android:exported="false" />

        <!-- Guideline Horizontal -->

        <activity
            android:name="de.check24.compose.demo.features.constraintlayout.guideline.AndroidUIHorizontalGuidelineActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.constraintlayout.guideline.ComposableHorizontalGuidelineActivity"
            android:exported="false" />

        <!-- ImageButton -->

        <activity
            android:name="de.check24.compose.demo.features.button.AndroidUIImageButtonActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.button.ComposableImageButtonActivity"
            android:exported="false" />

        <!-- Switch -->

        <activity
            android:name="de.check24.compose.demo.features.switch.AndroidUISwitchActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.switch.ComposableSwitchActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <!-- Date -->

        <activity
            android:name="de.check24.compose.demo.features.picker.AndroidUIDateActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.picker.ComposableDateActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <!-- Radio Button -->

        <activity
            android:name="de.check24.compose.demo.features.button.radio.AndroidUIRadioButtonActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.button.radio.ComposableRadioButtonActivity"
            android:exported="false" />

        <!-- Radio Group -->

        <activity
            android:name="de.check24.compose.demo.features.button.radio.AndroidUIRadioGroupActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.button.radio.ComposableRadioGroupActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <!-- Constraint Layout -->

        <activity
            android:name="de.check24.compose.demo.features.constraintlayout.AndroidUIConstraintLayoutActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.constraintlayout.ComposableConstraintLayoutActivity"
            android:exported="false" />

        <!-- List with different Views -->

        <activity
            android:name="de.check24.compose.demo.features.list.differentviews.AndroidUIListWithDifferentViewsActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.list.differentviews.ComposableListWithDifferentViewsActivity"
            android:exported="false" />

        <!-- Floating Action Button -->

        <activity
            android:name="de.check24.compose.demo.features.button.AndroidUIFloatingActionButtonActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.button.ComposableFloatingActionButtonActivity"
            android:exported="false" />

        <!-- Staggered Grid -->

        <activity
            android:name="de.check24.compose.demo.features.list.staggered.AndroidUIStaggeredListActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name="de.check24.compose.demo.features.list.staggered.ComposableStaggeredListActivity"
            android:exported="false" />

        <!-- Bottom App Bar -->

        <activity
            android:name=".features.bar.AndroidUIBottomAppBarActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.bar.ComposableBottomAppBarActivity"
            android:exported="false" />

        <!-- Multiline Text -->

        <activity
            android:name=".features.text.AndroidUIMultilineTextActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.text.ComposableMultilineTextActivity"
            android:exported="false" />

        <!-- Toggle Button -->

        <activity
            android:name=".features.button.AndroidUIToggleButtonActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.button.ComposableToggleButtonActivity"
            android:exported="false" />

        <!-- Spinner -->

        <activity
            android:name=".features.spinner.AndroidUISpinnerActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.spinner.ComposableSpinnerActivity"
            android:exported="false" />

        <!-- View Pager -->

        <activity
            android:name=".features.viewpager.AndroidUIViewPagerActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.viewpager.ComposableViewPagerActivity"
            android:exported="false" />

        <!-- chip -->

        <activity
            android:name=".features.button.chip.AndroidUIChipActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.button.chip.ComposableChipActivity"
            android:exported="false" />

        <!-- Auto Complete-->

        <activity
            android:name=".features.text.AndroidUIAutoCompleteActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.text.ComposableAutoCompleteActivity"
            android:exported="false" />

        <!-- Time -->

        <activity
            android:name=".features.picker.AndroidUITimeActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial" />

        <activity
            android:name=".features.picker.ComposableTimeActivity"
            android:exported="false"
            android:theme="@style/DemoMaterial"/>

    </application>

</manifest>